:root{
  --vermelhopadrao:#f21d2f;
  --amarelo:#f2b807;
  --amareloclaro:#f2d06b;
  --cinza:#f2f2f2;
  --azul:#023859;
  --cinzaEscuro: #8f8f8f;
}



Body{
  background-color: var(--cinza);  
}


.logoTop{
width: 180px;
}
  
*{
max-width: 100%;
margin: 0;  
padding: 0;
box-sizing: border-box;
/* border: #000000 solid 1px; */
}

.cabeca {    
  background-image: url(../imagens/fundoInicio.PNG);    
  background-repeat: no-repeat;
  background-size:  cover;
  font-family:Verdana;
  font-style: normal;
  font-size: 10px;
  border-top:10px solid var(--azul);
  border-bottom: 10px solid var(--azul);
  height: max-content;
 display: flex;
}

.footer{
  width: 100%;
  height: 8vh;
  position: fixed;
  bottom: 0;
  background-color: var(--azul);
}

footer .imagensFooter img{
  height: 8vh;
  width: auto;
  float: right;
}

/* NAV BAR */ 
nav {
  align-items: end;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  min-height: 24vh;
  height: max-content;
}
nav .imgPrefeitura {
  width: 20%;
  min-width: 200px;
  height: auto;
  position: absolute;
  top: 3vh;
  left: 2vh;
  z-index: 1;
}

nav ul {
  list-style-type: none;
  justify-content: center;
  display: flex;  
  width: 100%;
  position: relative; 
  z-index: 2;
}


nav ul li {
  display: flex;
  width: 20%;
  
}

nav ul li:last-child {
  margin-right: 0; 
}
nav ul li:hover {
  background-color:rgba(0, 82, 147);  
}      
nav ul li a {
  display: flex;
  justify-content: center; 
  align-items: center;     
  color: white;
  height: 100%;
  width: 98%;
  text-align: center;
  text-decoration: none;
  font-size: var(--tamanhoTexto);
}



.botao:hover{
  transform: scale(1.05);
  transition: all 0.6s ease-in-out; 
}

.botao {
  color:#000000;
  border-radius: 2%;
  height: 40px;
  align-items: center;
  Justify-content: center;
  --tamanhoTexto: 16px;
}

.botaoAtivo {
  background-color: var(--azul);
  --tamanhoTexto: 20px;
  font-weight: bold;
} 
/* FIM NAV BAR */


/* MENU  */
.divMenu {
  position: absolute;
  top: 0; 
  right: 50px;
  display: flex;
  transform: translate( 50%, 50%);
}
.divMenu img , .divMenu .menu-toggle{
  width: 35px;
  cursor: pointer;
  margin-inline: 1vh;
  height: 35px;
}

.divMenu .menu-toggle .bar {
  width: 100%;
  height: 15%;
  margin-block: 15%;
  background-color: white;
  
  
}
/*   FIM MENU  */


/* MENU LATERAL */
#side-menu {
  position: fixed;
  right: 0; /* esconder o menu com position */
  top: 0;
  width: 15%;
  height: 92%;
  background-color:rgba(0, 82, 147); 
  transition: 2s;
  z-index: 1000; /* sobrepor todo o conteudo */
}
#side-menu.ativado {
  right: 0; /* Mostra o menu */
}

#side-menu.desativado {
  right: -20%; /* Esconde o menu */
}

#side-menu ul {
  list-style-type: none;
  padding: 20px 0;
}

#side-menu ul li {
  padding: 25px 20px;
  border-bottom: 1px solid #666;
  font-size: 18px;
}

#side-menu ul li a {
  color: #fff;
  text-decoration: none;
  display: block;
}



/* Barra Pesquisa */

.pesquisaContainer{
  width: 80%;
  margin-inline: 20%;
  margin-top: 5vh;
}

.pesquisaContainer .Btmeio{
  position: relative;
  left: 50%;
  transform: translate(-50%,0);
  padding: 1vh;
  font-size: 16%;
  display: flex;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #f0f0f0;
  width: 650px;
  max-width: 50vw;
  border-radius: 12px;
  z-index: 2;
}

.pesquisaContainer .Btmeio img{
  width: 15px;
  padding-top: 0px;
  padding-right: 2px;
  cursor: text;
  scale: 1.2;
}
.pesquisaContainer .Btmeio input{
  width: 100%;
  border: none;
  background-color: #f0f0f0;
  border-bottom: 10px;
  outline: none; 
    }

/* Conteudo */

.conteudo{
  height: 67vh;
}
/* Parte do topo */
.parteSuperior{
  display: flex;
  width: 80%;
  margin: auto;
  flex-wrap: wrap;
  height: max-content;
  justify-content: space-around;
}
  .circuloAzul{
  margin: 10px;
  background-color: var(--azul);
  min-width: 16.5vw;
  min-height: 16.5vw;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  border:  solid  1.5vh var(--amareloclaro);
  display: flex; 
  align-items: center; 
  justify-content: center;
  box-shadow: 5px 5px 20px 0px;
  }
    .circuloAzul img{
      padding: 5px;
    }

  .logoCriada{
    margin: 10px;
    width: max-content;
  }  
  .logoCriada img{
    min-width: 45vw;
    height: auto;
    width: 650px;
    box-shadow: 5px 5px 20px 0px;
    }
    /* Parte de baixo */
.parteInferior{
  width: 100%;
  padding: 15px;
  padding-bottom: 10vh;
  background-color: var(--cinzaEscuro);
  min-height: 250px;
  height: max-content;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  position: relative;
  top: 2%;
}
.parteInferior .quadrado{
  width: 18vw;
  height: 20vh;
  min-height: 220px;
  min-width: 280px;
  margin: 10px;
  background-color: var(--vermelhopadrao);
  border-radius: 10px;
}
.conteudo h1{
  position: relative;
  top: 5%;
  background-color: var(--cinzaEscuro);
  padding: 10px;
  text-align: center;
  
}