:root{
    --vermelhopadrao:#f21d2f;
    --amarelo:#f2b807;
    --amareloclaro:#f2d06b;
    --cinza:#f2f2f2;
    --azul:#023859;
    --cinzaEscuro: #8f8f8f;
    --pontoCentral:translate(-50%,-50%);
  }
*{
    margin: 0;
    padding: 0;
}

body{
    background-color: lightgrey;
}

.conteudo{
    height: max-content;
    width: 100%;
    margin-bottom: 8vh ;
}
.conteudo .texto{
    margin: auto;
    align-items: center;
    width: max-content;
    margin-block: 5vh;
}
.conteudo .caixaPergunta{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    min-width: 300px;
}
.conteudo .caixaPergunta .pergunta{
    background-color: var(--azul);
    width: 34vw;
    min-width: 300px;
    min-height: 75px;
    height: auto;
    margin-block: 6vh;
    margin-inline: 4vh;
    position: relative;
}

/* Dentro das perguntas */

    /* Configuração do icone */

    .pergunta .iconeClick{
        position: absolute;
        top: 50%;
        left: 8%;
        transform: var(--pontoCentral);
        width: var(--comprimento);
        height: var(--comprimento);
        --comprimento:26px;
        --largura:4px;
        --corBG:white;
        cursor: pointer;
    }

    .pergunta .iconeClick .barraHorizontal{
        background-color: var(--corBG);
        width: var(--comprimento);
        height: var(--largura);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: var(--pontoCentral)
    }
    .pergunta .iconeClick .barraVertical{
        background-color: white;
        width: var(--largura);
        height: var(--comprimento);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: var(--pontoCentral);
    }
    /*FIM Configuração do icone */
.pergunta h3{
    color: white;
    margin: auto;
    width: max-content;
    font-weight: 500;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: var(--pontoCentral);
}
    /*respostas*/
.resposta {
    background-color: var(--amareloclaro);
    border: var(--azul) solid 5px;
    margin: auto;
    width: 34vw;
    min-width: 300px;
    min-height: 200px;
    height: auto;
    display: none;
    align-items: center;
    justify-content: center;
    margin-top: -6vh;
}