:root{
    --vermelhopadrao:#f21d2f;
    --amarelo:#f2b807;
    --amareloclaro:#f2d06b;
    --cinza:#f2f2f2;
    --blue:#023859;
}
*{
    padding: 0;
    margin: 0;
}
h1{
    margin: 5px;
}
.arquivojogo img{
    width: 60%;
    max-width: 200px;
}
.divdivisoria{
    margin: 2%; 
    width: 25%;
    min-width: 300px;
    text-align: center;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 0px 0px 10px 1px ; 
    /* box shadow primeiro é deslocamento para a direita,  
    segundo é deslocamento para baixo,
    terceiro a gradiencia,
    quarto o tamanho. */
}
.divdivisoria2{
    width: 85%;
    margin: auto;
    margin-bottom: 10px;
    
}
.textoConteudo{
    text-align: justify;
}

.mainprincipal .arquivojogo{
    background-color: var(--cinza);
    height: 300px;
    border-radius:25px;
    border-top-left-radius:0;
    border-top-right-radius: 0;
    border-top: black solid 1px;
    border-top-style: dashed;
    
}
.mainsecundario .arquivojogo{
    border-radius: 10px;
    background-color: var(--cinza);
    box-shadow: 5px 5px 20px 5px #646464;
    height: 450px;
    border: solid 1px black;
    
}
.mainpermanente{
    background-color: var(--amarelo);
    width: 75%;
    margin: auto;
    margin-bottom: 1%;
    border: 2px solid black;
    border-radius: 8px;
    margin-top: 2%;
    box-shadow: 0px 5px 10px 4px rgb(131, 130, 130); 
}
.mainprincipal{
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: auto;
    justify-content: center;
}
.mainsecundario{
    justify-content: center;
    align-items: center;
    width: 85%;
    margin: auto;
    padding-bottom: 8%;
}
.invisivel{
    display: none;
}

.divgrande{
    width: 40%;
    height: 100px;
}
.voltar{
    position: absolute;
    left: 12.8%;
    width: 100px;
    height: 40px;
    border-radius: 10px;
    margin: 1%;
    box-shadow: 0px 0px 10px 2px ; 
    background-color: var(--amareloclaro);
    color: black;
    font-size: 16px;
    font-weight: 700;
}
h1{
    text-align: center;
    margin: 2%;
}


.titulo2{
    margin: 1%;
    text-align: start;

}

