body {
    background-color: navajowhite;

}
h1 {
    color: crimson;
    text-align: center;
}
h2 {
    color:crimson;
}
p {
    text-align: justify; 
}
.titulo{
    font-size:32px; text-decoration:underline;
}
