body{
    background-color: #c4ac88;
}


img{
    width: 90%;
    height: auto;
    
    border-radius: 3%;
    border:1px solid;
}


header{
    background-color: lightgray;
    width:100%;
    height: 100px;
    display: block flex;
    justify-content: center;
    margin: 0 0;
    padding: 0 0;
}
.main{
    width: 100%;
    margin: auto;
    display: block flex;
}
.conteudosite{
    width: 40%;
    height: auto;
    text-align: center;
    background-color: #ffdead;
}
.a1{
    margin: 3%;
    border:2px solid
}

.lateral{  
    width: 30%;
    background-color: #c4ac88;
}
.direita{
    justify-content: right;
}
.esquerda{
    justify-content: left;
}