body{
    background-color: #ffdead;
}
section {
    display: flex;
    justify-content: center;
    width: 70%;
    size:unset;
    width: min-content;
}
div{
    margin: 10px;
    
}


header{
    background-color: lightgray;
    width:70%;
    height: 100px;
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 0;
}
main{
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: center;
}
.divquadrado{
    background-color: yellow;
    width: 150px;
    height: 150px;
}

.divgrande{
    background-color: yellow;
    width: 490px;
    height: 150px;
}
.divvertical{
    height: 320px;
    background-color: yellow;
    width: 150px;
}
.divhorizontal{
    width: 320px;
    height: 150px;
    background-color: yellow;
}
.section1{
    display: flex;
    flex-wrap: wrap;

}

