:root{
    --vermelhopadrao:#f21d2f;
    --amarelo:#f2b807;
    --amareloclaro:#f2d06b;
    --cinza:#f2f2f2;
    --blue:#023859;
}
*{
    padding: 0;
    margin: 0;
}
.conteudo{
    height: max-content;
    width: 100%;
    background-image: url(../imagens/fundoCriativo.png);
    background-size: cover;
    position: absolute;
    padding-bottom: 8vh;
}
.mainpermanente{
    background-color: var(--amarelo);
    width: 75%;
    margin: auto;
    border: 2px solid black;
    border-radius: 8px;
    margin-block: 20px;
    box-shadow: 0px 5px 10px 4px rgb(131, 130, 130); 
}
.mainprincipal{
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: auto;
    justify-content: center;
}
.mainsecundario{
    justify-content: center;
    align-items: center;
    width: 85%;
    margin: auto;
    padding-bottom: 8%;
}
    /*dentro do main Permanente*/
    .mainpermanente h1{
        text-align: center;
        margin: 2%;
    }
    /*dentro do main Principal*/
    .divdivisoria{
        margin: 2%; 
        width: 20%;
        min-width: 300px;
        text-align: center;
        border-radius: 25px;
        cursor: pointer;
        box-shadow: 0px 0px 10px 1px ; 
        background-color: lightgray;
        height: 50vh;
        max-height: 350px;
        margin-block: 4vh;
        position:relative;
        /* box shadow primeiro é deslocamento para a direita,  
        segundo é deslocamento para baixo,
        terceiro a gradiencia,
        quarto o tamanho. */
    }
    .divdivisoria h2{
        margin: 2%;
        height: 16%;
        align-content: center;
    }
    .divdivisoria .arquivojogo{
        background-color: var(--cinza);
        height: 80%;
        border-radius:25px;
        border-top-left-radius:0;
        border-top-right-radius: 0;
        border-top: black solid 1px;
        border-top-style: dashed;
    }
    .divdivisoria .arquivojogo img{
        width: auto;
        height: 100%;
    }




















.divdivisoria2{
    width: 85%;
    margin: auto;
    margin-bottom: 10px;
    
}

.mainsecundario .arquivojogo{
    border-radius: 10px;
    background-color: var(--cinza);
    box-shadow: 5px 5px 20px 5px #646464;
    height: 450px;
    border: solid 1px black;
    
}
.invisivel{
    display: none;
}

.divgrande{
    width: 40%;
    height: 100px;
}
.voltar{
    position: absolute;
    left: 12.8%;
    width: 100px;
    height: 40px;
    border-radius: 10px;
    margin: 1%;
    box-shadow: 0px 0px 10px 2px ; 
    background-color: var(--amareloclaro);
    color: black;
    font-size: 16px;
    font-weight: 700;
}


.titulo2{
    margin: 1%;
    text-align: start;

}