<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <a href="../index.html">voltar</a>
    <div class="modelo1">
        <main>   
            <section>
                <div class="grandehorizontal"></div>
            </section>
        </main>
        <main> 
            <section class="section1">
                
                <div class="quadrado"></div>
                <div class="quadrado"></div>  
                <div class="mediahorizontal"></div>    
            </section>
        
            <section>
                <div class="mediavertical"></div>
            </section>
        </main>     
    </div>
    <hr>
    <div class="modelo2">
        <main>   
            <section class="flex">
                <div class="quadrado"></div>
                <div class="quadrado"></div>
                <div class="quadrado"></div>
            </section>
        </main>
        <main>
            <section>
                <div class="grandehorizontal"></div>                
            </section>
        </main>  
        <main>
            <section class="flex">
                <div class="mediahorizontal"></div>
                <div class="quadrado"></div>
            </section>
        </main>    
    </div>
    <hr>
    <div class="modelo3">
        <main>   
            <section class="flex">
                <div class="grandevertical"></div>
                <section class="section1">
                    <div class="mediahorizontal"></div>   
                    <div class="mediavertical"></div>
                    <div class="mediavertical"></div>
                </section>
            </section>
        </main>
    </div>
    <hr>
    <div class="modelo4">
        <main>   
            <section class="flex">
                <div class="grandevertical"></div>
                <section class="section1">
                    <div class="quadrado"></div>
                    <div class="mediavertical"></div>
                </section> 
                <div class="grandevertical"></div>
            </section>
        </main>
    </div>
    <hr>
    <div class="modelo5">
        <main>   
            <section class="section1">
                <section class="flex">
                    <div class="quadrado"></div>
                    <div class="quadrado"></div>     
                </section>
                <section>
                    <div class="quadradogrande"></div>
                </section>
            </section>
            <section>
                <div class="grandevertical"></div>
            </section> 
        </main>
    </div>
    <hr>
    <div class="modelo6">
        <main>
            <section>
                <div class="quadrado" style="margin-bottom: 20px;"></div>
                <div class="mediavertical"></div>
            </section>
            <section>
                <section class="flex">
                    <div class="mediavertical"></div>
                    <div class="mediavertical"></div>
                </section>
                <div class="mediahorizontal"></div>
            </section>
                
        </main>
        
    </div>
    <hr>
    <div class="modelo7">
        <main>
            <section>
                <div class="quadrado" style="margin-bottom: 20px;"></div>
                <div class="mediavertical"></div>
            </section>   
            <section>
                <div class="quadradovazio"></div>
                <section class="flex">
                    <div class="mediavertical"></div>
                    <div class="mediavertical"></div>
                </section>
                
    
            </section>
                
        </main>
        
    </div>
    <hr>
    <div class="modelo8">
        <main>
            <div class="grandehorizontal"></div>
        </main>
        <main>
            <section>
                
                <div class="mediavertical"></div>
            </section>   
            
            <section>
                <div class="quadrado"></div>
                <div class="quadrado" style="margin-top: 20px;"></div>
            </section>
            <section>
                <div class="mediavertical"></div>
            </section>
              
    
            </section>
                
        </main>
        
    </div>
    <hr>
    <div class="modelo9">
        <main>   
            <section>
                <div class="grandehorizontal"></div>
            </section>
        </main>
        <main> 
            <section class="section1">
                <div class="mediahorizontal"></div>
                <div class="quadrado"></div>
                <div class="quadrado"></div>            
            </section>
            <section>
                <div class="mediavertical"></div>
            </section>
        </main>    
        
    </div>
    <hr>
    <div class="modelo10">
        <main>
            <section class="flex">
                <section>
                    <div class="mediahorizontal"></div>
                    <div class="mediahorizontal" style="margin-top: 20px;"></div>
                </section>
                
                <section>
                    <div class="mediavertical"></div>
                </section>
            </section>               
        </main>    
        <main>
            <section>
                <div class="quadrado"></div>
            </section>
            <section>
                <div class="mediahorizontal"></div>
            </section>
         </main>     
    
    </div>
    <hr>
    <div class="modelo11">
        <main>
            <section>
                <div class="grandevertical"></div>
            </section>
            <section>
                <section>
                    <div class="mediahorizontal"></div>
                </section>  
                <section class="flex">
                    <div class="quadrado"></div>
                    <div class="quadrado"></div>
                </section> 
                <section>
                    <div class="mediahorizontal"></div>
                </section>
            </section>    
        </main>
        
    </div>
    <hr>
    <div class="modelo12">
        <main>
            <section>
                <div class="quadrado"></div>
            </section>
            <section>
                <div class="mediahorizontal"></div>
            </section> 
        </main>  
        <main>
            <section>
                <div class="mediahorizontal"></div>
            </section>
            <section>
                <div class="quadrado"></div>
            </section> 
        </main>
        <main>
            <section>
                <div class="grandehorizontal"></div>
            </section>
        </main>  
        
    </div>
    <hr>
    <div class="modelo13">
        <main>
            <section>
                <div class="quadrado"></div>
            </section>
            <section>
                <div class="mediahorizontal"></div>
            </section> 
        </main>
        <main>
            <section class="flex">
                <section>
                    <div class="mediahorizontal"></div>
                    <div class="mediahorizontal" style="margin-top: 20px;"></div>
                </section>
                <section>
                    <div class="mediavertical"></div>
                </section>
            </section>              
        </main>  
        
    </div>
    <hr>
    <div class="modelo14">
        <main>
            <div class="quadrado"></div>
            <div class="quadrado"></div>
            <div class="quadrado"></div>
        </main>
        <main>
            <section>
                <div class="mediahorizontal" style="margin-bottom: 20px;"></div>
                <div class="mediahorizontal"></div>
            </section>
            <section>
                <div class="mediavertical"></div>
            </section>        
        </main>
        
    </div>
    <hr>
    <div class="modelo15"> 
        <main>
            <div class="grandevertical"></div> 
            <section>
                <section class="flex">
                    <div class="mediavertical"></div> 
                    <section>
                    <div class="quadrado" style="margin-bottom: 20px;"></div>
                    <div class="quadrado"></div>
                    </section>
                </section>
                <div class="mediahorizontal"></div>
            </section>                   
        </section>                   
        </main>
    </div>
    <hr>
    
</body>
</html>